<div *ngIf="!data.view">
    <h1 mat-dialog-title>{{data.edit? 'Edit Category':'Add Category'}}</h1>
    <div mat-dialog-content>
      <mat-form-field class="w-100">
        <mat-label>Category Name</mat-label>
        <input matInput type="string" [(ngModel)]="data.categoryName">
      </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>
  </div>
  
  <div *ngIf="data.view">
    <h1 mat-dialog-title>View Product</h1>
    <div mat-dialog-content>
      <p class="w-100">Category Name: {{data.categoryName}}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Close</button>
    </div>
  </div>
  