<div class="login-page">
  <div class="content px20">
    <form class="login-form" #myForm="ngForm" (ngSubmit)="onLogin()">
      <div class="logo">
      </div>
      <div class="text-center">
        <h2 class="app-name">Login</h2>
      </div>
      <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input [(ngModel)]="username" name="username" matInput placeholder="Username">
          </mat-form-field>
        </div>
      </div>
       <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input [(ngModel)]="password" name="password" matInput type="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <!-- Nguyễn - điều chỉnh gõ user và pass đi chung nhau-->
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" (click)="onLogin()" class="w-100">Login</button>
          <button type="button" mat-button color="primary" class="w-100" (click)="onSignup()">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>